/.idea/.idea.Slash/.idea/.gitignore
/.idea/.idea.Slash/.idea/indexLayout.xml
/.idea/.idea.Slash/.idea/material_theme_project_new.xml
/.idea/.idea.Slash/.idea/vcs.xml
/Content/Core/Blueprints/GameMode/BP_BirdGameMode.uasset
/Saved/Logs/cef3-backup-2024.10.04-15.54.09.log
/Saved/Logs/cef3-backup-2024.10.05-06.01.45.log
/Saved/Logs/cef3-backup-2024.10.05-06.26.49.log
/Saved/Logs/cef3-backup-2024.10.05-15.46.26.log
/Saved/Crashes/UECC-Windows-2CAAA78040A0E3A8534476BBA3A82585_0000/CrashContext.runtime-xml
/Saved/Config/CrashReportClient/UECC-Windows-2CAAA78040A0E3A8534476BBA3A82585/CrashReportClient.ini
/Saved/Config/CrashReportClient/UECC-Windows-14B104534F88A6FCE74A0FBF46BE0657/CrashReportClient.ini
/Saved/Config/CrashReportClient/UECC-Windows-BAEA22AE42DB273089159FBF971047D3/CrashReportClient.ini
/Saved/Config/CrashReportClient/UECC-Windows-D9CD1BB542A269A5B17FC78C106E8906/CrashReportClient.ini
/Saved/Crashes/UECC-Windows-2CAAA78040A0E3A8534476BBA3A82585_0000/CrashReportClient.ini
/Saved/webcache_4430/Cache/f_000057
/Saved/Crashes/UECC-Windows-2CAAA78040A0E3A8534476BBA3A82585_0000/Slash.log
/Saved/Logs/Slash-backup-2024.10.04-15.54.43.log
/Saved/Logs/Slash-backup-2024.10.05-06.13.47.log
/Saved/Logs/Slash-backup-2024.10.05-07.04.29.log
/Saved/Logs/Slash-backup-2024.10.05-15.49.48.log
/Intermediate/Build/Win64/x64/UnrealEditor/Development/Slash/SlashCharacter.cpp.dep.json
/Intermediate/Build/Win64/x64/UnrealEditor/Development/Slash/SlashCharacter.cpp.obj
/Intermediate/Build/Win64/x64/UnrealEditor/Development/Slash/SlashCharacter.cpp.obj.rsp
/Intermediate/Build/Win64/UnrealEditor/Inc/Slash/UHT/SlashCharacter.gen.cpp
/Intermediate/Build/Win64/x64/UnrealEditor/Development/Slash/SlashCharacter.gen.cpp.dep.json
/Intermediate/Build/Win64/x64/UnrealEditor/Development/Slash/SlashCharacter.gen.cpp.obj
/Intermediate/Build/Win64/x64/UnrealEditor/Development/Slash/SlashCharacter.gen.cpp.obj.rsp
/Intermediate/Build/Win64/UnrealEditor/Inc/Slash/UHT/SlashCharacter.generated.h
/Intermediate/Build/Win64/x64/UnrealEditor/Development/Slash/UnrealEditor-Slash-0077.dll.rsp
/Intermediate/Build/Win64/x64/UnrealEditor/Development/Slash/UnrealEditor-Slash-0077.exp
/Intermediate/Build/Win64/x64/UnrealEditor/Development/Slash/UnrealEditor-Slash-0077.lib.rsp
/Intermediate/Build/Win64/x64/UnrealEditor/Development/Slash/UnrealEditor-Slash-0077.sup.exp
/Intermediate/Build/Win64/x64/UnrealEditor/Development/Slash/UnrealEditor-Slash-0077.sup.lib
/Content/Core/Blueprints/Characters/BP_SlashCharacter.uasset
/Saved/Config/CrashReportClient/UECC-Windows-2EB3C5EE489041769F433CA8976D938C/CrashReportClient.ini
/Saved/webcache_4430/Session Storage/LOG
/Saved/Logs/Slash-backup-2024.10.05-15.52.53.log
